<h1 mat-dialog-title class="uploadTitle">Upload Image Details</h1>
<div mat-dialog-content class="uploadFormContainer">
  <p class="uploadHelpText">Enter the image's name and verify its type and size.</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="image.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="image.type">
      <mat-option value="jpeg">JPEG</mat-option>
      <mat-option value="jpg">JPG</mat-option>
      <mat-option value="png">PNG</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Size</mat-label>
    <input matInput [value]="image.size + ' bytes'" readonly>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput placeholder="Enter a description..." [(ngModel)]="image.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button mat-raised-button color="primary" [mat-dialog-close]="image" cdkFocusInitial>Save</button>
</div>