.elementName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elementNameCell {
    max-width:33vw;
}

.elementDescription {
    word-wrap: break-word;
}

.elementDescriptionCell {
    max-width:33vw;
}

.thumbnail {
    max-width:33vw;
    max-height:10vh;
    padding-top:0.4rem;
}